*, *:after,* :before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: hsl(185, 41%, 84%);
 min-height: 10vh;
 position: relative;
}

main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
    margin: 1em;
    padding: 2em;
    max-width: 1040px;

}
a{
    color: white;
    font-size: 12px;
    text-decoration: underline;
    margin: 2px;
}

a:hover{
    cursor: pointer;
}

label{
    font-style: italic;
    font-size: 14px;
    color: rgb(47, 5, 147);
}

h1{
 color: green;
 font-style: oblique;
 font-size: xx-large;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding: 10px;
}

input{
    width: 100%;
    padding: 12px, 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 2px solid green;
    color: rgb(47, 5, 147);
    font-family: Arial;
    font-style: initial;
}

input:hover{
    cursor: pointer;
}

div{
    display: block;
}

tr th{
    font-weight: bold;
}
tr th, tr td{
    padding: 8px;
}

th{
    border: 3px solid #c1dad7;
}
td{
    border: 3px solid #c1dad7;
}

.c1, .c2, .c3, .c4{
    background: lawngreen;
}

.result{
    padding: 2em;
    background: hsl(183, 86%, 39%);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}


